@page "/"

<PageTitle>Home</PageTitle>
<div class="row">
    <div class="col col-lg-5 mx-auto">
        <div class="form-group">
        <label>Parent counter</label>
            <label>@parentCurrentCount</label>
        </div>
    </div>
</div>
<Counter @bind-CurrentCount="parentCurrentCount"></Counter>

@code {
    private int parentCurrentCount = 0;
}